@charset "UTF-8";

:root {
  --charcter-color: #2a2a2a;
  --charcter-color2: #ffffff;
}

html {
  font-size: 100%;
}

body {
  font-family: "Arial" 、 "Hiragino Sans" 、 "Hiragino Kaku Gothic ProN" 、
    "Meiryo" 、sans-serif;
  color: var(--charcter-color);
}

img {
  width: 100%;
}

.body {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section-paragraph {
  font-size: 0.875rem;
  margin-bottom: 40px;
}

.btn {
  color: var(--charcter-color);
  padding: 13px 36px;
  border: 1px solid #2a2a2a;
  text-decoration: none;
}

/* header */

.header {
  position: relative;
}
.mainvisual {
  height: auto;
  margin-bottom: 80px;
}

.logo {
  width: 120px;
  height: 40px;
  position: absolute;
  top: 30px;
  right: 30px;
}

/* section1 */

.section1 {
  max-width: 1200px;
  margin: 5rem 0;
}

.section1-title {
  font-size: 1.5rem;
}

.section1-image-cards {
  display: flex;
  gap: 2rem;
}

.section1-image-card {
  display: grid;
}

.section1-image-card-image {
  justify-self: stretch;
  grid-column-start: 1;
  grid-row-start: 1;
}

.section1-image-card-text {
  justify-self: center;
  align-self: center;
  grid-column-start: 1;
  grid-row-start: 1;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 1rem;
}

/* section2 */

.section2 {
  position: relative;
  margin-bottom: 80px;
}

.section2-content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* section3 */
.section3 {
  background-color: #f5f5f5;
  width: 100%;
}

.section3-container {
  max-width: 1200px;
  margin: 0 auto;
}

.section3-card {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin: 4rem 0;
}

.section3-card-reverse {
  display: flex;
  gap: 2rem;
  flex-direction: row-reverse;
  align-items: center;
  margin: 4rem 0;
}

.section3-card-image {
  width: 50%;
  padding: 3rem;
}

.section3-card-text {
  width: 50%;
}

.section3-card-title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.section3-card-description {
  text-align: left;
}

.section3-card-description-sentence {
  margin: 1rem 0;
}

/* footer */

.footer {
  color: var(--charcter-color2);
  background-color: #333333;
  width: 100%;
}

.footer-contents {
  display: flex;
  justify-content: space-between;
  align-content: center;
  max-width: 1200px;
  padding: 0 5%;
  margin: 100px auto;
}

.logo2 {
  width: 120px;
  height: 40px;
}

.footer-contents .list-1 .ul-1 {
  font-size: 0.75px;
}

.footer-contents .list-2 .ul-2 {
  list-style: none;
  font-size: 0.75px;
}

.footer-paragraph {
  text-align: center;
  color: var(--charcter-color);
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 25px;
}

/* SP */

@media screen and (max-width: 896px) {
  .section1-image-cards {
    flex-direction: column;
    margin: 0 2rem;
  }

  .section3-card {
    flex-direction: column;
  }

  .section3-card-reverse {
    flex-direction: column;
  }

  .section3-card-image {
    width: 100%;
  }

  .section3-card-text {
    width: 100%;
    padding: 0 2rem;
  }

  .footer-contents {
    /* ロゴだけセンターにする方法がわかりませんでした */
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
